body {
    text-align: center;
    font-family: sans-serif;
    background-color: slategrey;
}

.container{
    border: none;
    margin: 40px 450px 0px 450px;
    border-radius: 6px;
    height: 120px;
    background-color: whitesmoke; 
}

.container h1{
    padding-top: 15px;
    text-decoration: underline;
}

#add{
    border: none;
    border-radius: 5px;
    width: 55px;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    font-family: sans-serif;
    background-color: red;
    color: whitesmoke;
    cursor: pointer;
}

.container2{
    height: 150px;
    margin: 40px 450px 0px 450px;
    border-radius: 6px;
    background-color: whitesmoke; 
}